header {
  background-image: linear-gradient(to bottom right, #000000, #232526);
  color: #ff0054;
  width: 100%;
}

.heading {
  font-size: 1.8rem;
  margin-left: 5px;
  text-decoration: none;
}

#home-link{
  text-decoration: none;
  color: #ff0054;
}

#home-link:hover{
  transform: translateY(-1px);
}

.link-element {
  color: #ffffff;
  margin: 10px 10px;
}

.link-element:hover {
  color: #ff0054;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  .heading {
    font-size: 0.9rem;
  }

  .link-element {
    margin: 3px 5px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  .heading {
    font-size: 2rem;
  }
  .link-element {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2500px) {
  .heading {
    font-size: 2.5rem;
  }
  .link-element {
    font-size: 1.8rem;
  }
}
