#footer {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top right, #000000, #232526);
  color: #ffffff;
  padding: 15px 0;
}

.link-footer{
    color: #ffffff;
}

.link-footer:hover{
    color: #0093FF;
    text-decoration: none;
}


@media screen and (min-width: 320px) and (max-width: 470px) {
  #footer {
    font-size:0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  #footer {
    font-size:1.25rem;
  }
}

@media screen and (min-width: 2000px) {
  #footer {
    font-size: 1.8rem;
  }
}